/* testimonials */
.testimonials-section {
    display: flex;
    flex-direction: column;
}


.testimonials-section .bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonials-section h2 {
    display: flex;
    justify-content: flex-end;
}