/* testimonials */
.testimonials-section {
    display: flex;
    flex-direction: column;
}


.testimonials-section .bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
