/* Default font size */
body {
  font-family: 'gill sans', 'gill sans mt', calibri, 'trebuchet ms', sans-serif;
  background-color: var(--jasper);
  color: var(--white-smoke);
  padding: 0;
  margin: 0;
  font-size: 16px; /* Default font size */
}

section {
  padding: 0 1.3rem;
  margin-bottom: 4rem;
}

/* Top Box */
.top-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Bottom Box */
.bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1.5px solid var(--white-smoke);
}

.bottom-box h1, h3, h5 {
  font-family: 'flokisonregular';
  margin: 1.2rem 0 1px;
  background-color: var(--russian-violet);
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  white-space: nowrap;
}

.bottom-box h2 {
  text-transform: lowercase;

}

.bottom-box h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-box h6 {
  text-transform: lowercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.bottom-box p {
  color: var(--night);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  text-align: left;
}

#special-text {
  color: var(--russian-violet);
  background-color: var(--jasper);
  display: flex;
  justify-content: flex-start;
}

/* Button */
.btn {
  margin-top: 4rem;
  background-color: var(--russian-violet);
  padding: 0.5rem 1rem;
  border: 3px solid var(--russian-violet);
  border-radius: 0.2rem;
  color: var(--white-smoke);
  font-size: 1.7rem;
  font-family: 'flokisonregular';
}

#secondary-btn {
  background-color: var(--white-smoke);
  border: 3px solid var(--russian-violet);
  color: var(--russian-violet);
  margin-left: 1rem;
}

.btn:hover {
  background-color: var(--dun);
  color: var(--russian-violet);
  cursor: pointer;
}

#secondary-btn:hover {
  background-color: var(--dun);
  color: var(--russian-violet);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-img {
  width: 40%;
  height: auto;
  display: none;
  margin-right: 1rem;
}

header {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 1.8rem;
  height: auto;
  margin-left: 0.5rem;
}

:root {
  --white-smoke: #f5f5f5ff;
  --jasper: #488DAD;
  --russian-violet: #120d31ff;
  --night: #071108ff;
  --dun: #E0CBA8;
}


@font-face {
  font-family: 'flokisonregular';
  src: url('../src/fonts/flokison-wyexv-webfont.woff2') format('woff2'),
    url('../src//fonts/flokison-wyexv-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Media Queries */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 667px) {
  body {
    font-size: 16px;
  }

  .bottom-box h1 {
    font-size: 3rem;
  }

  .bottom-box h2 {
    font-size: 1.2rem;
  }

  .bottom-box h3 {
    font-size: 2.2rem;
  }

  .bottom-box h5 {
    font-size: 1.4rem;
  }

  .bottom-box p {
    font-size: 1.1rem;
  }

  .top-box h6 {
    font-size: 1.3rem;
  }

  #special-text {
    font-size: 3rem;
  }

  .btn {
    font-size: 1.7rem;
  }
}

/* larger phones 768px and up */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .bottom-box h1 {
    font-size: 6rem;
  }

  .bottom-box h2 {
    font-size: 4rem;
  }

  .bottom-box h3 {
    font-size: 5rem;
  }

  .bottom-box h5 {
    font-size: 2.5rem;
  }

  .bottom-box p {
    font-size: 1.3rem;
  }

  .top-box h6 {
    font-size: 2rem;
  }

  #special-text {
    font-size: 6rem;
  }

  .btn {
    font-size: 3.2rem;
  }
}

/* tablets 992px and up */
@media (min-width: 992px) {
  body {
    font-size: 16px;
  }

  .bottom-box h1 {
    font-size: 5rem;
  }

  .bottom-box h2 {
    font-size: 4.5rem;
  }

  .bottom-box h3 {
    font-size: 5rem;
  }

  .bottom-box h5 {
    font-size: 3rem;
  }

  .bottom-box p {
    font-size: 1.4rem;
  }

  .top-box h6 {
    font-size: 2rem;
  }

  #special-text {
    font-size: 5.5rem;
  }

  .btn {
    font-size: 3.2rem;
  }

  img {
    display: block;
  }
}

/* desktops 1200px and up */
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }

  .hero-section {
    height: 100vh;
  }

  .bottom-box h1 {
    font-size: 5rem;
  }

  .bottom-box h2 {
    font-size: 2rem;
  }

  .bottom-box h3 {
    font-size: 3rem;
  }

  .bottom-box h5 {
    font-size: 2.5rem;
  }

  .bottom-box p {
    font-size: 1.3rem;
  }

  .top-box h6 {
    font-size: 2rem;
  }

  #special-text {
    font-size: 5rem;
  }

  .btn {
    font-size: 3.2rem;
  }

  .content-img {
    display: block;
  }
}
